@media screen and (max-width: 721px) {

  .main-header {
    margin-top: 16px;
  }

  .grid-container {
    width: 100%;
    max-width: 360px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .logo {
    font-size: 16px; 
  }

  .burger-menu {
    display: flex;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: 0; 
    width: 132px;
    height: 216px;
    background-color: #ffffff;
    border-radius: 8px 0 0 8px; 
    padding: 16px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 99; 
  }

  .nav-menu.active {
    transform: translateX(0);
  }

  .nav-menu .nav-links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 16px;
    width: 100%;
  }

  .nav-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    padding: 0;
    color: #161C28;
    text-decoration: none;
  }

  .close-menu-btn {
    display: flex !important;
    align-items: center;
    justify-content: flex-start; 
    width: 44px;
    height: 14px;
    margin-top: 16px;
    margin-bottom: 8px; 
    padding: 0;
    background: transparent;
    border: none;
    color: #161C28;
    cursor: pointer;
    align-self: flex-start; 
  }

  .close-menu-btn svg {
    display: block !important;
    width: 44px;
    height: 14px;
  }

  .tasks-section,
  .solution-section,
  .method-section,
  .advantage-section,
  .train-section,
  .review-section,
  .action-section,
  .main-footer {
    margin-top: 60px;
  }

  .hero-section {
    margin-top: 20px;
  }
  .hero-content {
    grid-column: 1 / -1;
    grid-template-columns: subgrid; 
  }

  .hero-title {
    font-size: 24px;
  }

  .hero-text {
    margin-top: 16px;
    font-size: 16px;
    letter-spacing: -0.011em;
  }

  .hero-button {
    grid-column: 1 / -1;
    margin-top: 16px;
    font-size: 16px;
    padding: 8px 0;
    border-radius: 10px;
  }

  .hero-image-wrapper {
    grid-column: 1 / -1;
    height: 357px;
    border-radius: 14px;
    margin-top: 16px;
  }

  .hero-image {
    height: 100%;
    object-fit: cover;
    transform: none;
  }

  .tasks-section,
  .solution-section,
  .method-section,
  .advantage-section,
  .train-section,
  .review-section,
  .action-section,
  .main-footer {
    display: grid;
    grid-template-columns: subgrid;
  }

  .tasks-content {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }
  
  .title {
    grid-column: 1 / -1;
    font-size: 20px;
    margin-bottom: 8px;
  }

  .subtitle {
    grid-column: 1 / -1;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .label {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .tasks-grid {
    display: grid;
    grid-template-columns: subgrid;
    row-gap: 8px;
    column-gap: 16px;
    margin-top: 16px;
  }

  .image-1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    height: 206px;
    border-radius: 10px;
  }

  .card-2 {
    grid-column: 1 / span 2;
    grid-row: 2;
    height: 206px;
    border-radius: 10px;
  }

  .card-1 {
    grid-column: 3 / span 2;
    grid-row: 1;
    height: 206px;
    border-radius: 10px;
  }

  .image-2 {
    grid-column: 3 / span 2;
    grid-row: 2;
    height: 206px;
    border-radius: 10px;
  }

  .large-card {
    grid-column: 1 / -1;
    grid-row: 3 / span 1;
    height: 182px;
    border-radius: 10px;
  }

  .task-card {
    padding: 8px;
  }

  .task-number {
    font-size: 20px;
  }

  .task-text {
    font-size: 16px;
  }

  .solution-section {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows:
    auto
    0
    auto
    0
    auto
    16px
    auto
    8px
    auto;
    row-gap: 0;
  }

  .solution-section .title {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .solution-section .subtitle {
    grid-row: 3;
    margin-top: 0 !important;
  }

  .solution-card {
    height: 64px;
    padding: 8px;
    font-size: 16px;
    margin-top: 0;
    border-radius: 10px;
  }

  .card-a {
    grid-column: 1 / span 2;
    grid-row: 7;
  }

  .card-b {
    grid-column: 3 / span 2;
    grid-row: 7;
  }

  .card-c {
    grid-column: 1 / span 2;
    grid-row: 9;
  }

  .card-d {
    grid-column: 3 / span 2;
    grid-row: 9;
  }

  .method-section {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows:
    auto
    0
    auto
    0
    auto
    16px
    auto
    8px
    auto
    8px
    auto
    8px
    auto
    8px
    auto;
    row-gap: 0;
    column-gap: 16px;
  }

  .method-section .label {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .method-section .title {
    grid-column: 1 / -1;
    grid-row: 3;
  }

  .method-section .subtitle {
    grid-column: 1 / -1;
    grid-row: 5;
    margin-top: 0 !important;
  }

  .method-card {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows:
    auto
    auto
    auto;
    align-items: start;
  }

  .method-card-1 {
    grid-column: 1 / -1;
    grid-row: 7;
    margin-top: 0px;
  }

  .method-card-2 {
    grid-column: 1 / -1;
    margin-top: 0px;
    grid-row: 9;
  }

  .method-card-3 {
    grid-column: 1 / -1;
    margin-top: 0px;
    grid-row: 11;
  }

  .method-card-4 {
    grid-column: 1 / -1;
    margin-top: 0px;
    grid-row: 13;
  }

  .method-card-5 {
    grid-column: 1 / -1;
    margin-top: 0px;
    grid-row: 15;
  }

  .method-number,
  .method-number2 {
    font-size: 14px;
  }

  .method-text,
  .method-tag,
  .method-tag2 {
    font-size: 16px;
  }

  .method-number {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .method-tag,
  .method-tag2 {
    grid-column: 1 / span 2;
    grid-row: 2;
    margin-top: 0;
    border-radius: 10px;
    padding: 7px 0;
  }
  .method-text {
    grid-column: 1 / -1;
    grid-row: 3;
  }

  .advantage-section {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto 0 auto 0 auto 16px auto 8px auto 8px auto 8px auto;
    row-gap: 0;
    column-gap: 16px;
  }

  .advantage-section .label {
    grid-column: 1 / span 2;
    grid-row: 1;

    align-self: start;
  }

  .advantage-section .title {
    grid-column: 1 / -1; 
    grid-row: 3;
    margin-top: 0; 
  }

  .advantage-section .subtitle {
    grid-column: 1 / -1; 
    grid-row: 5;
    margin-top: 0 !important;
  }

  .advantage-section .advantage-card-1 {
    grid-column: 1 / -1;
    grid-row: 7;    
    height: 154px;
    margin-top: 0 !important;
  }

  .advantage-section .advantage-card-2 {
    grid-column: 1 / -1;
    grid-row: 9;             
    height: 154px;
    margin-top: 0 !important; 
  }

  .advantage-section .advantage-card-3 {
    grid-column: 1 / -1;
    grid-row: 11;             
    height: 154px;
    margin-top: 0 !important;
  }

  .advantage-section .advantage-card-4 {
    grid-column: 1 / -1;
    grid-row: 13;    
    height: 154px;
    margin-top: 0 !important; 
  }

  .advantage-card, 
  .advantage-card-dark {
    padding: 8px;
    border-radius: 10px;           
  }

  .advantage-title, 
  .advantage-title-dark {
    font-size: 17px;         
  }

  .advantage-text, 
  .advantage-text-dark {
    font-size: 16px;         
  }

  .train-section {
    display: grid;
    grid-template-columns: subgrid;
  }

  .train-section .title {
    grid-column: 1 / -1;
    margin-top: 0;
  }

  .train-section .subtitle {
    grid-column: 1 / -1;
    margin-top: 0;
  }

  .train-image {
    grid-column: 1 / -1;
    margin-top: 16px;
    width: 100%;
    height: 359px;
    object-fit: cover;
    border-radius: 10px;
  }

  .train-items {
    grid-column: 1 / -1;
    margin-top: 16px;
    display: grid;
    grid-template-columns: subgrid;
    row-gap: 16px;
  }

  .train-item {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    row-gap: 8px;
  }

  .train-tag {
    grid-column: 1 / span 3;
    font-size: 16px;
    padding: 7px 0;
    border-radius: 10px;
  }

  .train-text {
    grid-column: 1 / -1;
    font-size: 16px;
  }

  .reviews-viewport {
    grid-column: 1 / -1;
    margin-top: 16px;
    overflow: hidden;
  }

  .reviews-grid {
    display: grid;
    grid-template-columns: repeat(4, 360px);
    column-gap: 8px;
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  }

  .review-card {
    border: 1px solid #305999;
    border-radius: 10px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .review-text {
    padding: 0 8px;
    margin-bottom: 24px;
    font-size: 16px;
  }

  .review-user {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 8px 8px 8px;
  }

  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .user-name {
    font-size: 16px;
  }

  .user-role {
    font-size: 14px;
    opacity: 0.5;
  }

  .reviews-arrows {
    margin-top: 0;
  }

  .arrow-btn {
      width: 44px;
      height: 44px;
  }

  .action-title {
    grid-column: 1 / -1;
    font-size: 20px;
  }

  .action-subtitle {
    grid-column: 1 / -1;
    margin-top: 8px;
    font-size: 17px;
  }

  .action-button {
    grid-column: 1 / -1;
    margin-top: 16px;
    font-size: 16px;
    border-radius: 10px;
  }

  .main-footer {
    grid-column: 1 / -1;
    height: 240px;
    margin-bottom: 8px;
    padding: 8px 0 8px 8px;
    display: grid;
    grid-template-columns: subgrid;
    column-gap: 16px;
    border: 1px solid #305999;
    border-radius: 14px;
    grid-template-rows: auto 1fr;
  }

  .footer-slogan {
    grid-column: 1 / span 2;
    grid-row: 1;
    align-self: start;
    margin: 0;
    font-size: 16px;
  }

  .footer-contacts {
    margin-top: 0;
    grid-column: 1 / span 1;
    grid-row: 2;
  }

  .footer-nav {
    margin-top: 0;
    grid-column: 3 / span 2;
    grid-row: 2;
  }

  .footer-list {
    gap: 4px;
  }

  .footer-block-title {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .footer-link {
    font-size: 14px;
  }

  .footer-logo {
    grid-column: 3 / span 2;
    grid-row: 1;
    align-self: end;
    margin-top: 8px;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.1em;
  }

}